.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}


.jumbotron-heading {
  font-weight: 300;
  padding: 10px;
}

.jumbotron .container {
  max-width: 40rem;
}

.profile {
  padding: 20px;
}

.research {
  padding: 40px;
}

.card {
  float: left;
  padding: .75rem;
  margin-bottom: 2rem;
  border: none;
}

img.center {
  display: block;
  margin: 0 auto;
}

.card>img {
  margin-bottom: .75rem;
  width: 300px;
  height: 300px;
}

.card-text {
  font-size: 85%;
}

footer {
  background-color: #eee;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}